.posts {
    color: #fff;
}

.posts__input {
    width: 270px;
    padding: 10px;
    outline: none;
}

.posts__add {
    cursor: pointer;
    display: block;
    padding: 10px 16px;
    margin: 24px auto 0 auto;
    font-weight: 600;
    background-color: #E3655B;
    color: #fff;
    border: 0;
    outline: 0;
}

.posts__add:hover {
    background-color: #cc4b42;
}