.App {
  text-align: center;
  background-color: #1d1d1f;
}

.App-wrapper-content {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
  background-color: #1d1d1f;
  min-height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
